<a href="https://colab.research.google.com/github/Rajeshkeshoju/ml-samples/blob/main/database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect("Employees.db")
cursor = conn.cursor()

In [ ]:
def executeQuery(query, message):
  cursor.execute(query)
  print(message)

In [ ]:
# Table creation

def createTable(tableName):
  tableCreateQuery = """CREATE TABLE """ + tableName + """(id INTEGER, name VARCHAR(30), gender CHAR(1), jd DATE);"""
  executeQuery(tableCreateQuery, "Table created")

In [ ]:
# Table records insertion

def insertTableRecord(recordInsertionQuery):
  print(recordInsertionQuery)
  
  executeQuery(recordInsertionQuery, "Record inserted")
  conn.commit()

In [ ]:
# Table records fetching
  
def fecthTableRecords(targetAttribute = "'1'", targetValue = "1"):
  recordsSelectQuery = """SELECT * FROM employees WHERE """ + str(targetAttribute) + """ = '""" + str(targetValue) + """';"""
  print(recordsSelectQuery)

  executeQuery(recordsSelectQuery, "Record(s) fetched")

  employeeRecords = cursor.fetchall()
  for employee in employeeRecords:
    print(employee)

In [ ]:
# Records deletion

def deleteTableRecords(targetAttribute = "'1'", targetValue = "1"):
  recordzdeletionQuery = """DELETE FROM employees WHERE """ + str(targetAttribute) + """ = '""" + str(targetValue) + """';"""
  print(recordzdeletionQuery)

  executeQuery(recordzdeletionQuery, "Record(s) deleted")
  conn.commit()

In [ ]:
createTable("employees")

Table created

In [ ]:
recordInsertionQuery = """INSERT INTO employees VALUES(1, "John Carter", "M", "1999-11-10");"""
insertTableRecord(recordInsertionQuery)

recordInsertionQuery = """INSERT INTO employees VALUES(2, "Daenerys Targaryen", "F", "1992-04-10");"""
insertTableRecord(recordInsertionQuery)

recordInsertionQuery = """INSERT INTO employees VALUES(3, "Caroline Forbes", "F", "1999-03-28");"""
insertTableRecord(recordInsertionQuery)

recordInsertionQuery = """INSERT INTO employees VALUES(4, "Walter White", "M", "1993-07-01");"""
insertTableRecord(recordInsertionQuery)

recordInsertionQuery = """INSERT INTO employees VALUES(5, "Maeve Wiley", "F", "1997-01-23");"""
insertTableRecord(recordInsertionQuery)

INSERT INTO employees VALUES(1, "John Carter", "M", "1999-11-10");
Record inserted
INSERT INTO employees VALUES(2, "Daenerys Targaryen", "F", "1992-04-10");
Record inserted
INSERT INTO employees VALUES(3, "Caroline Forbes", "F", "1999-03-28");
Record inserted
INSERT INTO employees VALUES(4, "Walter White", "M", "1993-07-01");
Record inserted
INSERT INTO employees VALUES(5, "Maeve Wiley", "F", "1997-01-23");
Record inserted

In [ ]:
fecthTableRecords()

SELECT * FROM employees WHERE '1' = '1';
Record(s) fetched
(1, 'John Carter', 'M', '1999-11-10')
(2, 'Daenerys Targaryen', 'F', '1992-04-10')
(3, 'Caroline Forbes', 'F', '1999-03-28')
(4, 'Walter White', 'M', '1993-07-01')
(5, 'Maeve Wiley', 'F', '1997-01-23')

In [ ]:
deleteTableRecords()

DELETE FROM employees WHERE '1' = '1';
Record(s) deleted